<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Linq2DbTestDb"
		     connectionString="Server=.\LOCALMSSQL;Database=Linq2DbTestDb;Trusted_Connection=True;Enlist=False;"
		     providerName="SqlServer" />
	</connectionStrings>
</configuration>